<article class="mx-80 my-10">
    <form method="POST" action="/recipes/editsaved?_method=PUT">
        <div class="my-1 w-[40rem] font-bold flex flex-col">
            <label for="title">Recipe Title:</label>
            <input name="recipeId" value="<%=recipedata.id%>" hidden>
            <input class="w-[20rem] border rounded ml-5" id="title" name="title" value="<%=recipedata.title%>" required>
        </div>
        <div class="flex flex-col">
            <label for="summary">Summary:</label>
            <textarea class="h-[20rem] ml-5 border rounded" id="summary"
                name="summary"><%=recipedata.summary%></textarea>
        </div>
        <div class="flex flex-col">
            <h5>Cuisines:</h5>
            <div id="editCuisinesDiv">
                <% recipedata.cuisines.forEach(function(cuisine){ %>
                    <div class="ml-5 grid grid-cols-2 gap=2 w-[30rem]">
                        <input name="existingcuisineId" value="<%=cuisine.id%>" hidden>
                        <input class="w-[15rem] text-center border rounded-3xl" name="existingcuisinetype" value="<%=cuisine.type%>" required>
                        <button class="deleteCusineBtn border w-[10rem] rounded-3xl bg-slate-500 hover:bg-slate-400" type="button">Remove</button>
                    </div>
                    <%})%>
            </div>
        </div>

        <button class="ml-5 mt-3 border rounded-3xl bg-slate-500 hover:bg-slate-400 w-[10rem] my-5" type="button"
            id="editRecipeAddCuisineBtn">Add an Cuisine!</button>

        <div class="flex flex-col">
            <h5>Ingredients:</h5>
            <div id="editRecipeIngredientsDiv">
                <div class="w-[35rem] grid grid-cols-4 gap-2 auto-cols-min ml-5">
                    <p class="w-[10rem]">Name</p>
                    <p class="w-[5rem] text-center">Quantity</p>
                    <p class="w-[5rem] text-center">UoM</p>
                    <p class="w-[10rem]"></p>
                </div>
                <% recipedata.ingredients.forEach(function(ingredient){ %>
                    <div class="w-[35rem] grid grid-cols-4 gap-2 auto-cols-min ml-5">
                        <p class="w-[10rem]">
                            <%=ingredient.name%>
                        </p>
                        <input name="ingredientexistingredientId" value="<%=ingredient.id%>" hidden>
                        <input name="ingredientexistamountId" value="<%=ingredient.amount.id%>" hidden>
                        <input class="text-center w-[5rem] border rounded-3xl" name="ingredientexistamountvalue"
                            value="<%=ingredient.amount.value%>" required>
                        <input class="text-center w-[5rem] border rounded-3xl" name="ingredientexistamountuom"
                            value="<%=ingredient.amount.uom%>" required>
                        <button class="deleteIngredientBt w-[10rem] border rounded-3xl bg-slate-500 hover:bg-slate-400" type="button">Remove</button>
                    </div>
                    <%})%>
            </div>
        </div>

        <button class="ml-5 mt-3 border rounded-3xl bg-slate-500 hover:bg-slate-400 w-[10rem] my-5" type="button"
            id="editRecipeAddIngredientBtn">Add an Ingredient!</button>
        <div class="flex flex-col">
            <label for="instructions">instructions:</label>
            <textarea class="h-[20rem] ml-5 border rounded" id="instructions"
                name="instructions"><%=recipedata.instructions%></textarea>
        </div>
        <button class="ml-5 mt-5 w-[10rem] border rounded-3xl bg-slate-500 hover:bg-slate-400" type="submit">Save
            Recipe</button>

    </form>
</article>
<script src="/js/editSavedRecipeScript.js"></script>