<h2>edit saved recipe here</h2>

<br>
<form method="POST" action="/recipes/editsaved?_method=PUT">
    <label for="title">Recipe Title:</label>
    <input name="recipeId" value="<%=recipedata.id%>" hidden>
    <input id="title" name="title" value="<%=recipedata.title%>">
    <br>
    <br>
    <label for="summary">Summary:</label>
    <br>
    <textarea id="summary" name="summary"><%=recipedata.summary%></textarea>
    <br>
    <h5>Cuisines:</h5>
    <ul>
    <% recipedata.cuisines.forEach(function(cuisine){ %>
        <li>
            <input name="cuisineType<%=cuisine.id%>" value="<%=cuisine.type%>">
        </li>
    <%})%>
    </ul>
    <br>
    <h5>Ingredients:</h5>
    <ul id="editRecipeIngredientsUl">
    <% recipedata.ingredients.forEach(function(ingredient){ %>
        <li>
            <%=ingredient.name%>
            <input name="ingredientexist<%=ingredient.id%>/amountvalue<%=ingredient.amount.id%>" value="<%=ingredient.amount.value%>">
            <input name="ingredientexist<%=ingredient.id%>/amountuom<%=ingredient.amount.id%>" value="<%=ingredient.amount.uom%>">
        </li>
    <%})%>
    
    </ul>
    <button type="button" id="editRecipeAddIngredientBtn">Add an Ingredient!</button>
    <br><br>
    <label for="instructions">instructions:</label>
    <br>
    <textarea id="instructions" name="instructions"><%=recipedata.instructions%></textarea>
    <button type="submit">Save Recipe</button>

</form>

<script src="/js/editSavedRecipeScript.js"></script> 