<h2>Search for a new recipe</h2>

<p>Searched Term: <%= searchedRecipe %></p>

<h2>populate list of recipes based on search API</h2>


<% searchResults.forEach(result => { %>
    <div class="search-results">
        <div>
            <img src="<%=result.image%>" alt="Image of <%=result.title%>">
        </div>
        <p><%=result.title%></p>
        <form method="POST" action="/recipes/view">
            <input hidden name="result" value="<%= JSON.stringify(result) %>">
            <button type="submit">View this Recipe!</button>
        </form>
    </div>
<%}) %> 