<h2><%=viewRecipeResult.title%></h2>

<form method="POST" action="/recipes/saved">
    <input name="recipe" value="<%= JSON.stringify(viewRecipeResult)%>" hidden>
    <input name="imgURL" value="<%= JSON.stringify(searchedResult.image)%>" hidden>
    <button type="submit">Add to favorites</button>
</form>

<img src="<%=searchedResult.image%>" alt="image of <%=viewRecipeResult.title%>">

<h2>Recipe Summary:</h2>
<p><%=viewRecipeResult.summary%></p>

<h2>Ingredients:</h2>
<ul>
    <% viewRecipeResult.extendedIngredients.forEach(function(ingredient){%> 
        <li><%=ingredient.name%>: <%=ingredient.amount%> <%=ingredient.unit%></li>
    <% }) %> 
      
</ul>

<h2>Cooking instructions:</h2>
<%=viewRecipeResult.instructions%>